.DS_Store
.vscode/





build/
src/.DS_Store
src/SFML/.DS_Store
tests/.DS_Store
tests/SFML-test/build/
tests/wWidgets-test/build/

tests/conan/build/
tests/conan/CMakeUserPresets.json
tests/vcpkg/vcpkg_installed/

src/Window/Settings/